# Environments
.env
.env.*
!.env.test
!.env.example
!.env.dist

# Vendor
/vendor/
/api/vendor/
/front/vendor/

# Node modules
/node_modules/
/api/node_modules/
/front/node_modules/

# Logs
*.log
/logs/
/api/var/log/
/front/var/log/

# Cache
/var/cache/
/api/var/cache/
/front/var/cache/

# Build
/build/
/public/build/
/api/public/build/
/front/public/build/

/.idea/

# Docker
!/docker/
!/docker-compose.yml

# Nix
shell.nix
